@{
    Layout = null;
}
@model List<Ticket>
<!DOCTYPE html>
<html>
<head>
    <title>All Tickets</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
        }

        .container {
            width: 100%;
            overflow: auto;
            min-height: 100vh;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: flex-start;
        }

        .text {
            color: rgb(255, 255, 255);
            width: 382px;
            height: 98px;
            align-self: center;
            text-align: center;
            text-transform: capitalize;
        }

        .header-container {
            width: 100%;
            display: flex;
            align-items: center;
            border: 2px dashed #46c6d2;
            justify-content: space-between;
        }

        .header-item {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100px;
            color: rgb(251, 251, 251);
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text">All Tickets</h1>
        <div class="header-container">
            <div class="header-item">Ticket Number</div>
            <div class="header-item">Subject</div>
            <div class="header-item">Last Updated</div>
            <div class="header-item">Status</div>
        </div>
    </div>
</body>
</html>
