@{
    Layout = null;
}

@model WIL_Project.Models.Ticket


<style>
    body, html {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .home-container {
        font-family: Arial, sans-serif;
        width: 100%;
        display: flex;
        overflow: auto;
        min-height: 100vh;
        align-items: center;
        flex-direction: column;
    }

    .home-desktop1 {
        font-family: Arial, sans-serif;
        width: 100%;
        height: 1024px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: center;
        flex-shrink: 0;
        justify-content: center;
        background-image: linear-gradient(to right, #434343 0%, black 100%);
    }

    .home-ticket-form {
        gap: 22px;
        top: 170px;
        left: 297px;
        width: 853px;
        display: flex;
        padding: 42px 129px;
        overflow: hidden;
        position: absolute;
        align-items: flex-start;
        flex-direction: column;
    }

    .home-text {
        font-family: Arial, sans-serif;
        color: #ffffff;
        width: 335px;
        height: auto;
        text-align: left;
        line-height: normal;
    }

    .home-text02 {
        font-family: Arial, sans-serif;
        color: #ffffff;
        height: auto;
        text-align: left;
        line-height: normal;
    }

    .home-details {
        width: 527px;
        height: 635px;
        display: flex;
        overflow: hidden;
        position: relative;
        align-items: flex-start;
        flex-shrink: 0;
    }

    .home-text04 {
        font-family: Arial, sans-serif;
        top: 11px;
        color: #ffffff;
        height: auto;
        position: absolute;
        font-size: 14px;
        text-align: left;
        font-weight: 300;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .home-text06 {
        font-family: Arial, sans-serif;
        top: 118px;
        color: #ffffff;
        height: auto;
        position: absolute;
        font-size: 14px;
        text-align: left;
        font-weight: 300;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .home-text08 {
        font-family: Arial, sans-serif;
        top: 333px;
        left: 7px;
        color: #fdfdfd;
        height: auto;
        position: absolute;
        font-size: 14px;
        text-align: left;
        font-weight: 300;
        line-height: normal;
        font-stretch: normal;
        text-decoration: none;
    }

    .home-button {
        gap: 10px;
        right: 17px;
        width: 80px;
        bottom: 22px;
        display: flex;
        padding: 8px 16px;
        position: absolute;
        align-items: center;
        border-radius: 6px;
        justify-content: center;
        background-color: rgba(0, 150, 183, 1);
    }

    .home-text10 {
        font-family: Arial, sans-serif;
        color: rgba(255, 255, 255, 1);
        height: auto;
        text-align: left;
        line-height: 24px;
    }

    .home-textarea {
        font-family: Arial, sans-serif;
        top: 180px;
        left: 128px;
        width: 274px;
        position: absolute;
    }

    .home-textarea1 {
        font-family: Arial, sans-serif;
        top: 265px;
        left: 127px;
        width: 281px;
        height: 160px;
        position: absolute;
        margin-top: 13px;
    }

    .home-button1 {
        font-family: Arial, sans-serif;
        gap: 10px;
        top: 661px;
        left: 432px;
        width: 150px;
        display: flex;
        padding: 8px 16px;
        position: absolute;
        align-items: center;
        border-radius: 6px;
        justify-content: center;
        background-color: rgba(0, 150, 183, 1);
    }

    .home-text12 {
        font-family: Arial, sans-serif;
        color: rgb(255, 255, 255);
        height: auto;
        text-align: left;
        line-height: 24px;
    }
</style>
<div class="home-container">
    <div class="home-desktop1">
        <form asp-action="CreateTicket" asp-controller="Ticket" method="post" enctype="multipart/form-data">
            <div class="home-ticket-form">
                <span class="home-text MainHeading">
                    <span>Please Fill in the form below</span>
                </span>
                <span class="home-text02 subheading"><span>Ticket Details</span></span>
                <div class="home-details">
                    <span class="home-text04"><span>Enter the subject</span></span>
                    <input asp-for="TicketSubject" placeholder="Enter Subject" class="home-textarea textarea" />

                    <span class="home-text06">
                        <span>Enter the description (50 characters maximum)</span>
                    </span>
                    <textarea asp-for="TicketBody" placeholder="Enter your Description" class="home-textarea1 textarea"></textarea>

                    <span class="home-text08"><span>Upload an attachment</span></span>
                    <input type="file" name="attachment" class="home-button1" />

                    <button class="home-button" type="submit">
                        <span class="home-text10 bodyMedium"><span>Submit</span></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

