@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>DUT Support Page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: linear-gradient(to right, #434343 0%, black 100%);
        }
        .App {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            font-size: 50px;
            font-weight: bold;
            text-align: center;
        }

        .Title {
            margin-top: 10px;
            margin-bottom: 100px;
            font-size: 40px;
            color: white;
        }

        .Logo-image {
            width: auto;
            height: 210px;
        }

        .App-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
        }

        .Input-container {
            margin: 10px;
        }

        input[type='text'],
        input[type='password'] {
            font-size: 16px;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }

        .button-17 {
            align-items: center;
            appearance: none;
            background-color: #fff;
            border-radius: 24px;
            border-style: none;
            box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
            box-sizing: border-box;
            color: #3c4043;
            cursor: pointer;
            display: inline-flex;
            fill: currentcolor;
            font-family: "Google Sans", Roboto, Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            height: 48px;
            justify-content: center;
            letter-spacing: .25px;
            line-height: normal;
            max-width: 100%;
            overflow: visible;
            padding: 2px 24px;
            position: relative;
            text-align: center;
            text-transform: none;
            transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: auto;
            will-change: transform, opacity;
            z-index: 0;
        }

            .button-17:hover {
                background: #F6F9FE;
                color: #174ea6;
            }

            .button-17:active {
                box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
                outline: none;
            }

            .button-17:focus {
                outline: none;
                border: 2px solid #4285f4;
            }
    </style>
</head>
<body>
    <div class="App">
        <h1 class="Title">
            Welcome to the DUT Support Page
        </h1>
        <div>
            <img src="https://reactjs.org/logo-og.png" alt="React Logo" class="Logo-image" />
        </div>
        <div class="App-header">
            <div class="Input-container">
                <input type="text" placeholder="Enter Username" />
            </div>
            <div class="Input-container">
                <input type="password" placeholder="Enter Password" />
            </div>
        </div>
        <div class="Input-container">
            <button class="button-17" onclick="goNextPage()">Login</button>
            <button class="button-17" onclick="goNextPage2()">Login2</button>
            <button class="button-17" onclick="goNextPage3()">Login3</button>
        </div>
    </div>

</body>
</html>
